ul li {
  margin: 0;
  padding: 0; }

.navbar-nav {
  flex-direction: row; }
  .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .navbar-nav i {
    padding: 0 5px; }

#content {
  transition: max-width 0.3s ease; }

#sidenav {
  /* for the animation */
  border: solid;
  transition: margin 0.3s ease; }

.col-md-4 {
  height: 300px; }

.collapsed {
  /* hide it for small displays*/
  display: none; }

@media (min-width: 992px) {
  .collapsed {
    display: block;
    position: relative;
    /* same width as sidebar */
    margin-left: -25%; } }

@media (max-width: 767.98px) {
  #sidenav {
    position: fixed;
    color: #000 !important;
    top: 0;
    height: 100%;
    background: #fff;
    border: solid;
    transition: margin 0.3s ease;
    z-index: 999999;
    }

  .collapsed {
    /* hide it for small displays*/
    display: block;
    position: relative;
    margin-left: -100%; }
  }
