//General
ul li{
  margin:0;
  padding:0;
}

// Navigation
.navbar-nav {
  flex-direction:row;
  .nav-link {
    padding-right: 0.5rem; //Increase Click Area.
    padding-left: 0.5rem;
  }
  i{
    padding:0 5px;
  }
}
