@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints"; //General

ul li {
  margin: 0;
  padding: 0;
}
// Navigation
.navbar-nav {
  flex-direction: row;

  .nav-link {
    padding-right: 0.5rem; //Increase Click Area.
    padding-left: 0.5rem;
  }

  i {
    padding: 0 5px;
  }
}

#content {
  transition: max-width 0.3s ease;
}

#sidenav {
  /* for the animation */
  position: relative;
  border: solid;
  transition: margin 0.3s ease;
  overflow-y: scroll;
}

.col-md-4 {
  height: 300px;
}

.sidenav-collapsed {
  display: none;
}

// Side Nave Expand
.expandable-section, .faq{
  border-color: #dbdbdb; //Note: Lets define this color as part of the brand identity
}

.expandable-section[data-level="1"] {
  border-top:none;
}

.expandable-section .page-link,
.expandable-section>header,
.faq .page-link, .faq>header{
  font-size: 1.125rem; //18px font size
}

/* show side nav above this width*/
@include media-breakpoint-up(md) {
  .sidenav-collapsed {
    display: block;
    position: relative;
    /* same width as sidebar */
    margin-left: -16.6%;
  }
}

// for mobile, side nave stays on right side over the content
@include media-breakpoint-down(md) {
  #sidenav {
    position: fixed;
    color: #000 !important;
    top: 0;
    height: 100%;
    min-width: 100%;
    background: #fff;
    border: solid;
    transition: margin 0.3s ease;
    z-index: 999999;
  }
  .sidenav-collapsed { //expand display
    /* hide it for small displays*/
    display:block;
    transition: margin 0.3s ease;
    margin-left: -100% !important;
  }
}
